body {
  margin: 0 auto;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

html {
  height: 100%;
}

h1 {
  font-size: x-large;
}

.flex-separator {
  flex-grow: 99;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  font-size: 27px;
  text-align: center;
}

.navbar-item {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(200, 207, 213);
  background: linear-gradient(
    90deg,
    rgba(200, 207, 213, 1) 0%,
    rgba(246, 246, 246, 1) 100%
  );
}

.tinanay {
  height: 60px;
}

.footer-links {
  justify-content: center;
  display: flex;
  flex-flow: wrap;
  column-gap: 1em;
  background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: pretty-rainbow 2s ease infinite;
  background-size: 400% 400%;
  font-size: 1.5em;
}

.banner {
  height: min-content;
}

.wide-image {
  width: 100%;
  object-fit: contain;
}

.content {
  background: rgba(255, 255, 255, 0.8);
  padding: 1em 3em 3em 3em;
}

@keyframes pretty-rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fruits {
  display: grid;
  grid-template-columns: 40% auto;
  width: 100%;
  gap: 10px;
}

.fruit-image {
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.color-python {
  background-color: #3572a5;
}

.color-clojure {
  background-color: #db5855;
}

.color-ocaml {
  background-color: #3be133;
}

.color-elisp {
  background-color: #c065db;
}

.fruit-language {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: dimgray;
}

.center {
  margin: 0 auto;
}
