{% extends "layout.html" %}

{% macro fruit(title, url, img, repo, lang, desc) -%}
{% set lang_name = {"clojure": "קלוז'ר",
                    "python": "🐍🐍🐍",
                    "ocaml": "אוקמל🐪",
                    "elisp": "אימקס ליספ🦬"}[lang] -%}
<a href="{{ url }}">
    <img class="fruit-image" src="/img/fruits/{{ img }}"/>
</a>
<div>
    <a href="{{ url }}">{{ title }}</a>
    <div>{{ desc }}</div>
    <div class="fruit-language">
        <span class="dot color-{{ lang }}"></span>
        <div>{{ lang_name }} | <a href="{{ repo }}">קוד</a></div>
    </div>
</div>
{%- endmacro %}

{% block content %}
<h1 style="margin-top: 0">פירות לאנשים נורמלים</h1>
<div class="fruits">
    {{ fruit(
        title="web-ebook.avocadosh.xyz",
        url="https://web-ebook.avocadosh.xyz/",
        img="web-ebook.png",
        repo="https://github.com/it-is-wednesday/webpage-to-readable-ebook",
        lang="clojure",
        desc="מוריד כזה עמודים מן הרשת לקינדל וגם לעוד") }}

    {{ fruit(
        title="copypastot.avocadosh.xyz",
        url="https://copypastot.avocadosh.xyz/",
        img="copypastot.png",
        repo="https://github.com/it-is-wednesday/copypastot",
        lang="clojure",
        desc="אוסף מעשיות חלק טובות הרוב פחות") }}

    {{ fruit(
        title="avocadosh.xyz",
        url="https://avocadosh.xyz",
        img="avocadosh.png",
        repo="https://github.com/it-is-wednesday/avocadosh.xyz",
        lang="python",
        desc=":)")  }}
</div>

<h1>פירות לאינסלים</h1>

<div class="fruits">
    {{ fruit(
        title="cute-sway-recorder",
        url="https://github.com/it-is-wednesday/cute-sway-recorder",
        img="cute-sway-recorder.png",
        repo="https://github.com/it-is-wednesday/cute-sway-recorder",
        lang="python",
        desc="מקליט מסך גרפי למנהל חלונות סווי בלינוקס בqt"
        ) }}

    {{ fruit(
        title="פיצולית",
        url="https://github.com/it-is-wednesday/pitzulit",
        img="pitzulit.png",
        repo="https://github.com/it-is-wednesday/pitzulit",
        lang="ocaml",
        desc="CLI שמפצל סרטונים של אלבומים ביוטיוב לפי התיאור") }}

    {{ fruit(
        title="eldoc-toml",
        url="https://github.com/it-is-wednesday/eldoc-toml",
        img="eldoc-toml.png",
        repo="https://github.com/it-is-wednesday/eldoc-toml",
        lang="elisp",
        desc="חיווי לטבלה ולמפתח שאת נמאצ בו בטומל"
    ) }}

    {{ fruit(
        title="pyinspect.el",
        url="https://github.com/it-is-wednesday/pyinspect.el",
        img="pyinspect.png",
        repo="https://github.com/it-is-wednesday/pyinspect.el",
        lang="elisp",
        desc="לחטט באובייקטים למה לא בעצם"
    ) }}
</div>
{% endblock %}
