{% extends "layout.html" %}

{% macro fruit(url, title, desc, lang) -%}
{% set lang_name = {"clojure": "clojure", "python": "🐍", "ocaml": "ocaml🐪", "elisp": "emacs lisp🦬"}[lang] -%}
<li style="margin-top: 15px">
    <div> <a href="{{ url }}">{{ title }}</a> </div>
    {% autoescape false %}
    <div>{{ desc }}</div>
    {% endautoescape %}
    {% if lang %}
    <div><span class="dot color-{{ lang }}"></span> {{ lang_name }}</div>
    {% endif %}
</li>
{%- endmacro %}

{% block content %}
<div style="display: flex">
    <img class="wide-image center" style="max-width: 578px" src="/img/tech.png">
</div>

<h1>little zodiac</h1>
<ul>
    {{ fruit(
    "https://web-ebook.avocadosh.xyz/",
    "web-ebook.avocadosh.xyz",
    """download webpages as <i>readable</i> epub/mobi/pdf files. like, removes the usual webshit
    blogspam ad clutter""",
    "clojure") }}

    {{ fruit(
    "https://copypastot.avocadosh.xyz/",
    "copypastot.avocadosh.xyz",
    "edgy hebrew copypasta database",
    "clojure") }}

    {{ fruit(
    "https://github.com/it-is-wednesday/cute-sway-recorder",
    "cute-sway-recorder",
    "graphical screen recorder for sway and other <code>wlroots</code>-based window managers",
    "python"
    ) }}

    {{ fruit(
    "https://github.com/it-is-wednesday/pitzulit",
    "pitzulit",
    "extract youtube albums into separate track files by timestamps in the description",
    "ocaml"
    ) }}

    {{ fruit(
    "https://github.com/it-is-wednesday/pyinspect.el",
    "pyinspect.el",
    "inspect object fields in running python process",
    "elisp"
    ) }}

    {{ fruit(
    "https://blog.avocadosh.xyz",
    "blog.avocadosh.xyz",
    "terrible takes") }}
</ul>

<h1>ginger snap</h1>
<div> <a href="/resume.pdf">cv</a> </div>

<!--
     Add these back when my resume isn't awkward anymore

     <div> <a href="/resume.html">my cv in html</a> </div>
     <div> <a href="/resume.pdf">my cv in pdf</a> </div>
     <div> <a href="/resume.docx">my cv in docx</a> </div>
-->
<h1>pretty little shorty with the snapback</h1>
<img class="wide-image" src="/img/lastfm-collage.jpg">
{% endblock %}
