<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>מרור</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/jpg" href="/img/favicon.png">
        <link href="/assets/tipo.css" rel="stylesheet">
        <style>
         body {
             background: url('/img/bg.jpg')
         }
        </style>
    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->
        <div class="footer-links">
            <a href="https://www.linkedin.com/in/ma-or/">linkedin</a>
            <a href="https://github.com/it-is-wednesday/">github</a>
            <a href="https://www.last.fm/user/jpegaga">last.fm</a>
            <a href="https://www.instagram.com/maror.pashosh/">gram</a>
            <a href="https://www.opendota.com/players/118991125">opendota</a>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="flex-separator"></div>

        <footer class="center" style="padding-top: 3em">
            <img src="/img/tech.png">
        </footer>
    </body>
</html>
